body {
    font-family: Arial;
    font-size: 18px;
}

div {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    float: left;
}

div.main-header {
    line-height: 100px;
    width: 100%;
    background-color: rgb(169, 252, 3);
    text-align: center;
}

div#content {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

div#choosen-product {
    width: 100%;
    background-color: rgb(240, 240, 240);
}

div.main-footer {
    width: 100%;
    background-color: rgb(169, 252, 3);
}

.search-tool {
    font-family: Arial;
    font-size: 18px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

input.search-tool {
    width: 35%;
    height: 30%;
}

button.search-tool {
    width: 10%;
    height: 30%;
}

.main-header-icon{
    width: 30px;
    height: 30px;
    padding-left: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }